<mat-sidenav-container>

  <!-- sidebar -->
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      <h3>{{title}}</h3>
      <a mat-list-item (click)="sidenav.close()" *ngFor="let section of sections" [routerLink]="section.route" routerLinkActive="font-weight-bold">
        {{section.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- ./sidebar -->

  <mat-sidenav-content>
    <div class="wrapper">

      <!-- header -->
      <header>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
              <i class="material-icons">menu</i>
            </button>
            <span class="title">{{title}}</span>
            <button mat-button *ngFor="let section of sections" [routerLink]="section.route" routerLinkActive="font-weight-bold"
                    class="d-none d-md-inline nav-button mat-button">{{section.title}}</button>
          </mat-toolbar-row>
        </mat-toolbar>
      </header>
      <!-- ./header -->

      <section>
        <div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
          <!-- main content -->
          <router-outlet #o="outlet"></router-outlet>
          <!-- ./main content -->
        </div>
      </section>

      <!-- footer -->
      <footer>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <a *ngFor="let network of socialNetworks" [href]="network.url" target="_blank" class="mr-3">
              <i [class]="network.faIcon" aria-hidden="true"></i>
              <span class="d-none d-sm-inline">{{network.title}}</span>
            </a>
            <span class="spacer"></span>
            <span class="copyright">
                <i class="fa fa-copyright"></i> {{year}} · Adrián Caballero</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </footer>
      <!-- ./footer -->

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
