<!-- <section>
  <div class="jumbotron text-center">
    lasldaldsad
  </div>
</section> -->

<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card class="box-shadow mb-4 about-me">
          <mat-card-title>About me</mat-card-title>
          <mat-card-subtitle>Adrián Caballero Castro</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col-3">
                <img class="profile-pic" src="../../../assets/imgs/profile_pic.jpeg">
              </div>
              <div class="col-9">
                <ul>
                  <li>Software Engineer at Epic Labs</li>
                  <li>Universidad de Córdoba</li>
                  <li>Born in Córdoba in 1985</li>
                </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
          <mat-card class="mb-4">
              <mat-card-title>Angular</mat-card-title>
              <mat-card-subtitle>
                Modern powerful framework
              </mat-card-subtitle>
              <mat-card-actions>
                <a mat-button href="https://angular.io/docs/ts/latest/" target="_blank">
                  <i class="fa fa-book fa-lg"></i> Docs
                </a>
                <a mat-button href="https://github.com/angular/angular" target="_blank">
                  <i class="fa fa-github fa-lg"></i> Github
                </a>
              </mat-card-actions>
            </mat-card>
      </div>
      <div class="col-sm-6 col-md-4">
        <mat-card class="mb-4">
          <mat-card-content>
            Lorem ipsum
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>